body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	/*padding: 1% 1% 0% 1%;*/
	/*font-family: 'Roboto Slab', serif;*/
}

h3 {
	font-weight: 500;
	margin: 0;
	padding: 0;
}

header{
	max-width: 100%;
	background: #00bfa5;
	padding: 40px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5em;
	font-size: 2em;
}

.header2{
	max-width: 100%;
	background: #00bfa5;
	margin-bottom: -40px;
	text-align: left;
	line-height: 1.5em;
	font-size: 1.3em;
	color: white;
	/*padding: 20px 40px;*/
	
}


.current {
	text-decoration: none;
}

/*
* {
    border: 1px solid red !important;
}*/


nav ul {
	max-width: 100%;
	background-color: #009884;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin: 0;
	font-size: 1.2em;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul li {
	display: inline-block;
	padding: 20px;
	margin: 0px 20px;
}


nav ul li:hover {
	background-color: #007263;
}


a {
	text-decoration: underline;
	color: inherit;
}

.nav-front {
	text-decoration: none;
	color: inherit;
}


section {
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 20px 40px;
	max-width: 80	%;
	margin: 0 auto;
}

.section2 {
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 20px 40px;
	max-width: 80	%;
	margin: 0 auto;
}



/*
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*/

.grid {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
	background-color: #fafafa;
}

.row {
    width: 100%;
    display: flex;
}

.row-1 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    border-bottom-style: groove;
    border-bottom-color: black; 
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.about img {
  border-radius: 50%;
  max-width: 120px;
  width: 100%;
  height: auto;
  display: block;
  vertical-align: top;
  margin: 0 auto;
  padding: 3px;
  background-color: white;
}

.about2 img {
  border-radius: 50%;
  max-width: 100%;
  max-height: 130px;
  height: auto;
  display: block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -65px;
  position: center;
  padding: 0;
  background-color: white;
  border: 1px solid #dadada;
}


.handle {
	width: 100%;
	background: #008573;
	text-align: right;
	box-sizing: border-box;
	padding: 10px 10px;
	height: 56px;
	cursor: pointer;
	color: white;
	display: none;
}


#cpBtn {
	float: right;
	width: 22px;
	height: 30px;
	background: linear-gradient (#FFF, #DDD);
	/*border: #AAA 1px solid;*/
	padding: 2px 5px;
	border-radius: 2px;
	cursor: pointer;
	transition: border 0.3s linear 0s;
}

#cpBtn > div {
	width: 20px;
	height: 4px;
	background: white;
	margin: 3px 0px;
	border-radius: 2px;
	transition: background 0.3s linear 0s;
}

/*#cpBtn:hover {
	border: #06F 1px solid;
}*/

#cpBtn:hover div {
	background: #00bfa5;
}


@media screen and (max-width: 580px) {
	nav ul {
		max-height: 0;
	}
	.showing {
		max-height: 20em;
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	.handle {
		display: block;
	}
}


[alt=center] {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}


.wordwrap { 
	word-wrap: break-word;
}

.navbar-text > a {
	color: #00795f;
	text-decoration: none;
}

.under {
	height: 2px;
	background-color: #009884;
	margin-bottom: 5px;
}

.color {
	  background-color: #009884;
}


.row-icon .icon {
  /* The vertical alignment magic */
  display: inline-block;
  vertical-align: middle;
  background-color: #009884;
  
  width: 100%; /* Needs width for inline-block */
 
  /* Fix for IE <= 7 */
  *display: inline;
  *zoom:1;
  *width: 16.6%;
}


.row-icon .icon {
	width: 19%;
}

/* Set height and color of boxes */
.icon {
	max-width: 100%;
	background-color: #009884;
	overflow: hidden;
	color: white;
	padding: 0;
	text-align: center;
	margin: 0;
	font-size: 1.2em;
}

.icon {
	display: inline-block;
	padding: 10px 0px;
	margin: 0;
}


.icon:hover {
	background-color: #007263;
}

.row-bottom {
	height:20px;
}

.ipos {
	vertical-align: middle;
}

.blog-container {
	border: 1px solid #dadada;
	border-radius: 10px;
	margin-bottom: 30px;
	padding: 10px;
	
}

.blog-date, .more {
	font-weight: 300;
}

h2 {
	font-weight: 300;

}

.latest-post {
	padding: 10px;
}

.older, .blog-post {
	padding: 10px;
}

p {
	font-weight: 400;
}
