html {
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', arial,sans-serif;

}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
	font-size: 15px;
	color: #6b6b6b;
}


h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size: 15px;
	color: #6b6b6b;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
	font-size: 14px;
	color: #6b6b6b;
}

.nav-current {
	text-decoration: none;
	font-weight: 200;
}

.current {
	text-decoration: underline;
}

a {
	text-decoration: underline;
	color: #6b6b6b;
}

/*
* {
    border: 1px solid red !important;
}
*/



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.grid {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 7px;
    display: flex;
}

.row-1 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    border-bottom-style: groove;
    border-bottom-color: black; 
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.nav {
    list-style-type: none;
}


.nav > li {
    display: inline-block;
}

.nav-top a {
    font-size: 18px;
	color: #fff;
	margin: 0 10px 0 30px;
	padding: 20px 20px 20px 20px;
}

.nav-bottom a {
    font-size: 14px;
	color: #fff;
	margin: 0 10px 0 30px;
	padding: 15px 15px 15px 15px;
	
}

/*
.nav-menu {
	padding: 10px 40px 10px 10px;
}
*/

.about img {
  border-radius: 50%;
  max-width: 130px;
  /*height: 130px;*/
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  vertical-align: top;
}

.right {
	background-color: #f1f1f1;
}

.white {
	max-width: 600px;
	background-color: #fff;
	margin: 20px 40px 20px 40px;
	padding: 10px 10px 10px 10px; 
}

.bottom {
	background-color: #00bfa5;
}

.blog {
	font-size: 18px;
	font-weight: 200;
	color: #404040;
	text-decoration: none;
	
}

.h3-about {
	text-align: center;
	margin: 5px 10px 5px 10px;
	padding: 5px 5px 5px 5px;
}

.p-about {
	text-align: justify;
	margin: 5px 10px 5px 10px;
	padding: 5px 5px 5px 5px;
}

.h2-header {
	text-align: justify;
	margin: 5px 10px 30px 10px;
	padding: 5px 5px 5px 5px;
}

.none {
	background-color: #f1f1f1;
}

.more {
	font-size: 12px;
}

.blog-title {
	font-size: 16px;
}

.blog-date {
	font-size: 12px;
}

/*@media screen and (min-width: 500px) {
	body { background-color: blue; }
}

@media screen and (min-width: 800px) {
	body { background-color: green; }
}

*/

[alt=center] {
  display: block;
  margin: auto;
}


.wordwrap { 
	word-wrap: break-word;
}

