
<div class="col-12">
	<div class="header2">
		<section class="section2">Who am I?</section>
	</div>
		<div class="about">
			<img src="{{site.baseurl}}/img/about.jpg" alt="Philip Ohlsson">
		</div>
</div>
<section>
	<div class="col-12 blog-container">
		<p>A mechanical engineer who turned into an analyst, who is now working towards becoming a data scientist. I have always been interested in statistics, math and solving complex problems, and over the last year I have started to dig deeper into the world of big data.<br>Most of my work will be posted on this website for anyone to read.</p>
		<p class="more">If you want to know more about me, you can click <a href="{{site.baseurl}}/about/">here <i class="fa fa-arrow-right fa-1x ipos"></i></a></p>
	</div>
</section>
