---
layout: default
---

<section>
	<h2 class="latest-post">Projects</h2>
	{% for projects in site.pages %}
		{% if projects.category == 'projects' %}
		<div class="col-12 blog-container">
			<a href="{{site.baseurl}}{{projects.url}}"><h3>{{projects.title}}</h3></a>
			<p class="blog-date">{{projects.date | date: '%B %d, %Y' }}</p>
			<p>{{projects.meta}}</p>
			<p class="more">Read more <a href="{{site.baseurl}}{{projects.url}}">here <i class="fa fa-arrow-right fa-1x ipos"></i></a></p>
		</div>
		{% endif %}
	{% endfor %}
</section>