<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A site about big data, analysis and other bits and pieces</title>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <meta name="description" content="{{page.meta}}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
</head>
  <body>
	<div class="grid">
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-9 bottom">
				<header>
					{% include nav.html navclass="nav-top" %}
				</header>
			</div>
		</div>
		
		<div class="row">
			<div class="col-3">
				<header>
					<h2 class="h2-header">My two cents on big data, analysis, R and other bits and pieces.</h2>
				</header>
				<div class="col-12">
					<div class="about">
						<img src="{{site.baseurl}}/img/about.jpg" alt="Philip Ohlsson">
					</div>
				</div>
				<h3 class="h3-about">About me</h3>
				<p class="p-about">A mechanical engineer who turned into an analyst, who is now working towards becoming a data scientist. I have always been interested in statistics, math and solving complex problems, and over the last year I have started to dig deeper into the world of big data.<br>Most of my work will be posted on this website for anyone to read.<br>If you want to know more about me, you can click <a href="{{site.baseurl}}/about/">here.</a></p>
			</div>
			<div class="col-9 right">
					{{content}}
			</div>				
		</div>
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-9 bottom">
				<footer>
					{% include nav.html navclass="nav-bottom" %}
				</footer>
			</div>
		</div>
	</div>
	{% include google-analytics.html %}
  </body>
</html>