<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{page.title}} - {% endif %}A site about big data, analysis and other bits and pieces</title>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <meta name="description" content="{{page.meta}}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="shortcut icon" href=".\img\mini.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
  <body>
	<div class="grid">
		<div class="row">
			<header>
				Where big data, analysis, R and other bits and pieces come to ponder.
			</header>
		</div>
		<div class="col-12">
			{% include nav.html navclass="nav-top" %}
		</div>
		
		<div class="row">
			<div class="col-12">
				{{content}}
			</div>				
		</div>
		<div class="row under"></div>
		<div class="color">
			<div class="row-icon">
				<div class="icon"><a href="https://www.facebook.com/philip.ohlsson.54" target="_blank" class="nav-front"><i class="fa fa-facebook-square fa-1x"></i></a></div>
				<div class="icon"><a href="https://github.com/ohlphi" target="_blank" class="nav-front"><i class="fa fa-github-square"></i></a></div>
				<div class="icon"><a href="https://plus.google.com/117407581825220025377" target="_blank" class="nav-front"><i class="fa fa-google-plus fa-1x"></i></a></div>
				<div class="icon"><a href="https://nl.linkedin.com/pub/philip-ohlsson/11/366/795" target="_blank" class="nav-front"><i class="fa fa-linkedin-square"></i></a></div>
				<div class="icon"><a href="https://twitter.com/statpond" target="_blank" class="nav-front"><i class="fa fa-twitter fa-1x"></i></a></div>
			</div>
		</div>
		<div class="row-bottom"></div>
	</div>
		<script>
		$('.handle').on('click', function(){
			$('nav ul').toggleClass('showing')
		});	
	</script>
	{% include google-analytics.html %}
  </body>
</html>